#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-primary);
  color: var(--text-primary);
  height: 100%;
}

#word-grid {
  display: grid;
  grid-template-columns: auto minmax(auto, 1fr) auto;
  gap: 0.3rem; /* Adjust the gap between columns */
  text-align: center;
}

.char-input {
  /* background: var(--background-secondary); */
  background: black;
  /* color: var(--white); */
  color: white;
  font-weight: 900;
  border: none;
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 2.5rem;
  caret-color: transparent;
  grid-row: 1;
}
